.profile {
  .main {
    text-align: center;
  }
  .userName {
    color: $primaryMain;
  }
  h2 {
    font-size: 1.5rem;
    margin: 2.75rem 0 1.5rem 0;
    font-weight: 700;

    &.userName {
      margin-top: 1.5rem;
    }
  }
  .userStatsFlex {
    display: flex;
    justify-content: center;
    gap: 3rem;

    svg {
      font-size: 3rem;
      color: $primaryMain;
    }
  }
  .soonText {
    font-style: italic;
  }

  .contentStats {
    margin-top: 0.5rem;
  }

  .numberStats {
    font-size: 1.8rem;
    font-weight: 500;
    display: block;
  }

  .unityStats {
    color: $primaryMain;
  }
}
